{% extends 'bookings/base.html' %}

{% load static %}

{% block content%}


<div class="margin"></div>
<div class="hero-img-container" >
    <div class="hero-img">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<div class="margin"></div>
<div >
    <div class= "container-fluid ">
        <div class="row ">
            <div class="col justify">
                <div class="h1 text-center justify-center">Testimonials from customers</div>
                <div class="p text-center"> Great food and great service</div>
            </div>
        </div>
    </div>
</div>
<div >
    <div class= "container-fluid ">
        <div class="row ">
            <div class="col justify">
                <div class="h1 text-center">Comments:</div>
                <div class="p text-center"> </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}